*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.cent{
    max-width: 1000px;
    margin: auto;
}

.cent2{
    margin-top: 6%;
    text-align: center;
}

.div{
    margin-top: 2%;
}

    /* header */

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 5px #888888;
}

#conteinerMenu{
    padding: 15px;
    margin-left: 50px;
    margin-right:50px;;
}

#m-l{
    width: 20px;
    margin-right: 50px;
}

h1{
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}

h1:hover{
    color: rgb(59, 59, 59);
}

#menu{
    list-style-type: none;
    float: right;
}

#l-l-a, #l-v-r, #l-s-n{
    color: black;
    text-decoration: none;
    float: right;
    margin-left: 25px;
    margin-top: 5px;
}

#l-l-a:hover, #l-v-r:hover, #l-s-n:hover{
    color:rgb(59, 59, 59);
}

    /* main */

/* section 1 */

#nm-emp{
    font-size: 50px;
}

#b-lpn{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid;
    border-radius: 3px;
    background-color: black;
    color: white;
}

#b-lpn:hover{
    background-color: rgb(59, 59, 59);
    color: white;
}

/* section 2 */

#fotoEmp{
    width: 100%;
}